.container-header{
    height: 50px;
    margin-top: 40px;
    background-image: url("images/header2.png");

}
body{
    background-color: #dfe3a1;
}
.nav-header{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}
/* Sweep To Bottom */
.hvr-sweep-to-bottoms {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-sweep-to-bottoms:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -2ch;
    left: 0;
    right: 0;
    bottom: 0;
    background: #dfe3a1;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-bottoms:hover, .hvr-sweep-to-bottoms:focus, .hvr-sweep-to-bottoms:active {
    color: black;
}
.hvr-sweep-to-bottoms:hover:before, .hvr-sweep-to-bottoms:focus:before, .hvr-sweep-to-bottoms:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(0.6);
}
.nav{
    height: 100px;
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'Helvetica Narrow', sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
}

.nav:nth-child(1){
    padding-left: 5%;
}
nav:nth-child(5){
    padding-right: 3%;
}
.register,
.login{
    float: right;
    display: inline-block;
    margin-top: -35px;
}

.register{
    margin-right: 130px;
}

.button{

}

.rectangle {
    width: 140px;
    height: 40px;
    background-image: url("images/header2.png");
    margin-right: 130px;
    border-radius: 5px;
}

.rectangle-small{
    width: 110px;
    background: linear-gradient(to top, #ef930b, #f1da36);
    height: 40px;
    border-radius: 5px;
}

.triangle_right {
    margin-top: 15px;
    float: right;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 7px solid #d48109;
    border-bottom: 10px solid transparent;
}

.rectangle-big{
    float: right;
    margin-top: -50px;
}

.hvr-icon-up{
    color: white;
}
.main-container .background{
    background-color: #e7a04d;
    height: 590px;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.main-container{
    text-align: center;
}

.room-img{
    margin-top: -1000px;
    position: relative;
    opacity: 0.8;
    border-radius: 5px;
}

.main-img{
    text-align: center;
}

.image-opacity{
    opacity: 0.25;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.info-block{
    width: 400px;
    height: 400px;
    background-color: black;
    margin-top: -1000px;
    float: left;
}

.info-block2{
    width: 400px;
    height: 400px;
    background-color: black;
    margin-top: -1000px;
    float: left;
    margin-left: 300px;
}

.block1{
    float: left;
    margin-left: 40px;
}
.block1{
    float: left;
    margin-left: 600px;

}
.block3{
    float: right;
}